* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	background-image: url("todo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
